
.selected-row {
    border: 2px solid rgb(12, 181, 248);
}

.select-inner {
    background-color: rgb(15, 15, 15);
}

.del-but-pos {
    top: calc(100% + 3px);
}


@keyframes flash-error {
    0% {
        background-color: #460809;
    }
    40% {
        background-color: #ad9893;
    }
    100% {
        background-color: #460809;
    }
}

.capture-container-error {
    animation: 1s forwards flash-error;
}