.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/*linear-gradient(#ff4500, #ff8c00, #ffd700)*/
.magma-border-color {
  /* Define magma colors: Red-Orange to Orange to Gold */
  border-image: url("assets/cropped.png") 0.5;
}

.magma-border-right {
  border-right: 3px solid;
}

.text-water {
  color: var(--water-color);
}
.text-fire {
  color: var(--fire-color);
}
.text-thunder {
  color: var(--thunder-color);
}
.text-ice {
  color: var(--ice-color);
}
.text-dragon {
  color: var(--dragon-color);
}
.text-paralysis {
  color: var(--paralysis-color);
}
.text-blast {
  color: var(--blast-color);
}
.text-poison {
  color: var(--poison-color);
}
.text-sleep {
  color: var(--sleep-color);
}



.bg-water {
  background-color: var(--water-color);
}
.bg-fire {
  background-color: var(--fire-color);
}
.bg-thunder {
  background-color: var(--thunder-color);
}
.bg-ice {
  background-color: var(--ice-color);
}
.bg-dragon {
  background-color: var(--dragon-color);
}
.bg-paralysis {
  background-color: var(--paralysis-color);
}
.bg-blast {
  background-color: var(--blast-color);
}
.bg-poison {
  background-color: var(--poison-color);
}
.bg-sleep {
  background-color: var(--sleep-color);
}

.bg-secondary {
  background-color: var(--secondary);
}



.hover-bg-water:hover {
  background-color: color-mix(in srgb, var(--water-color) 20%, transparent);
}
.hover-bg-fire:hover {
  background-color: color-mix(in srgb, var(--fire-color) 20%, transparent);
}
.hover-bg-thunder:hover {
  background-color: color-mix(in srgb, var(--thunder-color) 20%, transparent);
}
.hover-bg-ice:hover {
  background-color: color-mix(in srgb, var(--ice-color) 20%, transparent);
}
.hover-bg-dragon:hover {
  background-color: color-mix(in srgb, var(--dragon-color) 20%, transparent);
}
.hover-bg-paralysis:hover {
  background-color: color-mix(in srgb, var(--paralysis-color) 20%, transparent);
}
.hover-bg-blast:hover {
  background-color: color-mix(in srgb, var(--blast-color) 20%, transparent);
}
.hover-bg-poison:hover {
  background-color: color-mix(in srgb, var(--poison-color) 20%, transparent);
}
.hover-bg-sleep:hover {
  background-color: color-mix(in srgb, var(--sleep-color) 20%, transparent);
}